.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #ff0081;
  position: absolute;
  bottom: 10px;
}

.button-proceed-homepage-unused {
  position: absolute;
  bottom: 10px;
}

.inline-block { 
  backdrop-filter: blur(2px);
  display: inline-block; 
  margin:10px;
  }

a {
  color: #ff0081;
}