@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  font-family: 'Poppins';
  width: 90%;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin: auto;
  backdrop-filter: blur(10px);
}

.name-color{
  backdrop-filter: blur(0px);
  font-family: 'Poppins';
  color: #ff006f;
  font-size: 50px;
}

.highlight-color{
  backdrop-filter: blur(0px);
  font-family: 'Poppins';
  color: #ff006f;
}

.align-left{
  backdrop-filter: blur(0px);
  color:aliceblue;
  font-family: 'Poppins';
  font-size: 40px;
}

.subtext-list{
  backdrop-filter: blur(0px);
  font-family: 'Poppins';
  font-size: 15px;
}

.container-aboutme {
  font-family: 'Poppins';
  width: 80%;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin: auto;
  backdrop-filter: blur(10px);
}

p {
  backdrop-filter: blur(0px);
  color:aliceblue;
}